<h1>Bookdetail</h1>
<table>
    <tbody>
        <tr>
            <td></td>
            <td><%= @book.title %></td>
            <td><%= @book.opinion %></td>
            <% if user_signed_in? %>
            <td><%= link_to "Edit", "#" %></td>
            <td><%= link_to "Destroy", "#" %></td>
            <% end %>
        </tr>
    </tbody>
</table>
